* {
    font-family: 'Roboto', sans-serif;
}

textarea {
    width: 100%;
    min-height: 10em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}

h1, h2, h3 {
    padding-top: 1em;
    margin: 0;
}

.admin-button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.back-link {
    padding-left: 1em;
    padding-bottom: 1em;
}

.left-float-button {
    float: left;
    margin-right: 1em;
}

.pure-menu-link {
    white-space: normal;
}

.pure-form {
    padding: 1em;
}

.submit-comment {
    padding-left: 1em;
    padding-top: 0.25em;
    display: inline-block;
    vertical-align: middle;
    
}
